{{!< default}}
<!-- create loop to get posts --> 
{{#post}} 
<article> <!-- container for posts --> 
  <header> 
  <h2><a href="{{url}}" title="{{{title}}}">{{{title}}}</a></h2> 
  <div class="date">{{date published_at format="MMMM DD, YYYY"}}</div> 
  </header>  
  <div class="entry">{{content}}</div>  
  <footer> <!-- content meta --> 
  <ul> 
 {{#tags}} 
 <li>{{name}}</li> 
 {{/tags}} 
 </ul>   
  </footer> <!-- close meta space -->
  {{/post}}
  </article> <!-- close post container --> 